html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body,html{
    height: 100%;
}

button{
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.container{
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    margin: 0 auto;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1b1b1b;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.button{
    color: #2b47a3;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 55px;
    border: 1px solid #2b47a3;
    display: inline-block;
    transition: all .3s ease;
}

.button:hover{
    color: #ffffff;
    background-color: #2b47a3;
}

.swiper-button-prev:after,
.swiper-button-next:after{
    content: none;
}

.container-arrow{
    position: relative;
    max-width: 1200px;
    margin-left: 10px;
}

.swiper-button-next{
    left: 75px;
    right: auto;
}

.container-arrow .swiper-button-next.swiper-button-disabled,
                 .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}

.video{
    margin-bottom: 150px;
}

.video__box{
    margin-left: auto;
    margin-right: auto;
    max-width: 997px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video1{
    background-image: url("../images/1945-1991/1.JPG");
}

.video2{
    background-image: url("../images/1945-1991/2.JPG");
}

@media (max-width: 1640px) {
   .products__items{
       position: static;
   }

   .products__title{
      width: 100%;
       margin-bottom: 50px;
   }
}

@media (max-width: 1240px){
    .products__item-img{
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .about__textbox{
       display: block;
    }
    .footer__img{
       display: none;
    }
}

@media (max-width: 992px) {
    .header__title{
        display: none;
    }
    .menu{
        margin-left: 0;
        margin-right: 0;
    }
    .about__textbox{
        margin-bottom: 50px;
    }
}

@media (max-width: 850px) {


    .products__items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .products__item{
        margin-bottom: 20px;
        width: 45%;
    }
}

@media (max-width: 768px) {
    .video__box{
        min-height: 475px;
    }
    .footer__top{
        display: block;
    }
    .footer__logo{
        margin-bottom: 20px;
        display: inline-block;
    }

    .footer__item-form{
       max-width: 400px;
    }

    .footer__social-list{
        margin-top: 30px;
        display: flex;
        gap: 0 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .footer__social-item + .footer__social-list{
        margin-top: 0;
    }
}

@media (max-width: 630px) {
    .about__inner{
        padding-left: 0;
    }
    .about__btn{
        padding-left: 0;
    }
    .products__item{
        width: 100%;
    }
    .products__item-img{
        width: 80%;
    }
}

@media (max-width: 475px) {

}

@media (max-width: 375px) {
    .about__item img{
        width: 280px;
    }
    .about__slider{
        width: 1200px;
    }
}

